<div class="header_box">
  <%= image_tag "/images/book_shelf.jpg", class: "header_bg_img", alt: "" %>
  <div class="header_ttl text-center">
    <h1 class="header_ttl_ja">文章</h1>
    <p class="header_ttl_en">SENTENCES</p>
  </div>
</div>

<div class="container text-center">
  <% if @comments1.present? %>
    <h2 class="bg-secondary text-white d-block py-2">今日</h2>
    <% @comments1.each do |comment| %>
      <div class="comment-content"><%= comment.body %></div>
      <p class="source">(<%= comment.book_title %>)</p>
    <% end %>
  <% end %>

  <% if @comments2.present? %>
    <h2 class="bg-secondary text-white d-block py-2">１日前</h2>
    <% @comments2.each do |comment| %>
      <div class="comment-content"><%= comment.body %></div>
      <p class="source">(<%= comment.book_title %>)</p>
    <% end %>
  <% end %>

  <% if @comments3.present? %>
    <h2 class="bg-secondary text-white d-block py-2">３日前</h2>
    <% @comments3.each do |comment| %>
      <div class="comment-content"><%= comment.body %></div>
      <p class="source">(<%= comment.book_title %>)</p>
    <% end %>
  <% end %>

  <% if @comments4.present? %>
    <h2 class="bg-secondary text-white d-block py-2">１週間前</h2>
    <% @comments4.each do |comment| %>
      <div class="comment-content"><%= comment.body %></div>
      <p class="source">(<%= comment.book_title %>)</p>
    <% end %>
  <% end %>

  <% if @comments5.present? %>
    <h2 class="bg-secondary text-white d-block py-2">１ヶ月前</h2>
    <% @comments5.each do |comment| %>
      <div class="comment-content"><%= comment.body %></div>
      <p class="source">(<%= comment.book_title %>)</p>
    <% end %>
  <% end %>

  <% if @favoritecomments.blank? %>
    <p>現在、リマインドする文章はありません</p>
  <% end %>
</div>
