<header class="globalHeader">
   <div class="humburger_menu">
     <span class="bar1"></span>
     <span class="bar2"></span>
     <span class="bar3"></span>
   </div>
   <nav>
     <a href="/">
       <%= image_tag "/images/aikon-white.png", class: "site_logo" %>
     </a>
     <ul class="globalNavi">
       <% if logged_in? %>
         <li class="nav-item">
           <%= link_to(user_books_path(session[:user_id])) do %>
             <i class="fas fa-book"></i>
             <%= link_to "BOOKS", user_books_path(session[:user_id]), class: "nav-link" %><span class="sr-only">(current)</span>
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to(comments_index_path) do %>
             <i class="fas fa-pencil-alt"></i>
             <%= link_to "SENTENCE", comments_index_path, class: "nav-link" %><span class="sr-only">(current)</span>
           <% end %>
         </li>
       <% end %>
       <li class="nav-item">
         <%= link_to(new_contact_path) do %>
           <i class="far fa-envelope"></i>
           <%= link_to "CONTACT", new_contact_path, class: "nav-link" %><span class="sr-only">(current)</span>
         <% end %>
       </li>
       <li class="nav-item">
         <% if logged_in? %>
           <i class="far fa-times-circle"></i>
           <%= link_to 'LOGOUT', '/signout', class: "nav-link" %><span class="sr-only">(current)</span>
         <% else %>
           <i class="fab fa-twitter"></i>
           <%= link_to "LOGIN", '/auth/twitter', class: "nav-link btn-black" %><span class="sr-only">(current)</span>
         <% end %>
       </li>
       <li class="nav-item">
         <% if current_user.nil? %>
           <%= link_to(testlogin_path) do %>
             <i class="fas fa-user"></i>
             <%= link_to "TESTUSER", testlogin_path, class: "nav-link" %><span class="sr-only">(current)</span>
           <% end %>
         <% end %>
       </li>
     </ul>
   </nav><!-- /.globalNavi -->
</header>
