<div class="header_box">
  <%= image_tag "/images/book_shelf.jpg", class: "header_bg_img", alt: "" %>
  <div class="header_ttl text-center">
    <h1 class="header_ttl_ja">お問い合わせ</h1>
    <p class="header_ttl_en">CONTACT</p>
  </div>
</div>

<div class="container">
  <%= form_for @contact do |f| %>

    <div class="form-group row justify-content-center mt-sm-3">
      <%= f.label :email, '返信先メールアドレス', class: "d-flex align-items-center col-sm-3" %>
      <%= f.text_field :email, class: 'form-control col-sm-5' %>
    </div>

   <div class="form-group row justify-content-center">
     <%= f.label :message, 'お問い合わせ内容', class: 'd-flex align-items-center col-sm-3' %>
     <%= f.text_area :message, size: '10x10', class: 'form-control col-sm-5' %>
   </div>

   <div class="row contact_submit_btn">
     <%= f.submit '送信', class: 'btn-flat-border mx-auto d-block' %>
   </div>

  <% end %>
</div>
