<%= render "shared/errors", obj: @book %>

<%= form_with(model: book, local: true) do |form| %>
  <table class="table container">

    <div class="field">
      <tr>
        <th><%= form.label :title %></th>
        <td><%= form.text_field :title %></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <th><%= form.label :author %></th>
        <td><%= form.text_field :author %></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <th><%= form.label :new_picture %></th>
        <td>
          <div><%= form.file_field :new_picture %></div>
          <% if @book.picture.attached? %>
            <div>
              <%= image_tag @book.picture.variant(resize: "128x128") %>
              <%= form.check_box :remove_picture %>
              <%= form.label :remove_picture %>
            </div>
          <% end %>
        </td>
      </tr>
    </div>
  </table>

    <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>

<%= link_to 'Back', books_path %>
