<p id="notice"><%= notice %></p>

<div class="header_box">
  <%= image_tag "/images/book_shelf.jpg", class: "header_bg_img", alt: "" %>
  <div class="header_ttl text-center">
    <h1 class="header_ttl_ja">本棚</h1>
    <p class="header_ttl_en">BOOKS</p>
  </div>
</div>

<div class="container">
  <p class="text-center">
    <%= link_to '新規登録', new_book_path, class: "btn-flat-border" %>
  </p>

  <div class="text-right search-box">
    <%= form_tag(books_path,:method => 'get') do %>
      <%= text_field_tag :title, params[:title], placeholder: "本のタイトルを入力" %>
      <%= submit_tag 'Search', :name => nil %>
    <% end %>
  </div>

  <div class="row">
    <% if @books.present? %>
      <% @books.each do |book| %>
        <div class="col-md-4">
          <div class="card text-center shadow-lg">
            <div>
              <% if book.picture.attached? %>
                <%= link_to image_tag(book.picture, class: "card-img-top"), book %>
              <% else %>
                <%= link_to image_tag('/images/noimage.png', class: "card-img-top"), book %>
              <% end %>
            </div>
            <h1 class="card-title"><%= book.title %></h1>
            <p class="card-text"><%= book.author %></p>
            <p>
              <%= link_to '編集', edit_book_path(book), class: "btn btn-primary" %>
              <%= link_to '削除', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="no_book_txt">本が登録されていません。</p>
    <% end %>
  </div>

  <ul class="pagination justify-content-center">
    <%= paginate @books %>
  </ul>
</div>
