<p id="notice"><%= notice %></p>

<section class="jumbotron text-center about-top">
</section>

<div class="container">
  <h1 class="text-center">Books</h1>
  <p class="text-center"><%= link_to '新規登録', new_book_path, class: "btn btn-outline-primary" %></p>

  <div class="text-right search-box">
    <%= form_tag(books_path,:method => 'get') do %>
      <%= text_field_tag :title, params[:title], placeholder: "本のタイトルを入力" %>
      <%= submit_tag 'Search', :name => nil %>
    <% end %>
  </div>

  <div class="row">
    <% if @books.present? %>
      <% @books.each do |book| %>
        <div class="col-md-4">
          <div class="card text-center shadow-lg">
            <div>
              <% if book.picture.attached? %>
                <%= link_to image_tag(book.picture, class: "card-img-top"), book %>
              <% else %>
                <%= link_to image_tag('noimage.png', class: "card-img-top"), book %>
              <% end %>
            </div>
            <h1 class="card-title"><%= book.title %></h1>
            <p class="card-text"><%= book.author %></p>
            <p>
              <%= link_to '編集', edit_book_path(book), class: "btn btn-primary" %>
              <%= link_to '削除', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center">本が登録されていません。</p>
    <% end %>
  </div>

  <ul class="pagination justify-content-center">
    <%= paginate @books %>
  </ul>
</div>
