<div class="text-center container">
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @book.title %>
  </h1>

  <p>
    <%= @book.author %>
  </p>

  <p>
    <% if @book.picture.attached? %>
      <%= image_tag @book.picture.variant(resize: "500x500"), class: 'book_thumbnail' %>
    <% else %>
      <%= image_tag '/images/noimage.png', class: 'book_thumbnail' %>
    <% end %>
  </P>

  <p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
       data-text="【BOOKMEMO】この本オススメ！&#13;&#10;&#13;&#10;<%= @book.title %> ( <%= @book.author %> )&#13;&#10;"
       data-hashtags="オススメの本&#13;&#10;"
       data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>

  <% if @comments.present? %>
    <h2 class="mt-30 sp-heading">登録した文章</h2>
    <div id="comments">
      <table class="comments-table table-striped">
        <%= render @book.comments %>
      </table>
    </div>
  <% end %>

  <div class="mt-30">
    <%= render 'comments/new', post: @post %>
  </div>

  <div class="mt-50 mb-50">
    <%= link_to '編集', edit_book_path(@book) %> |
    <%= link_to '戻る', books_path %>
  </div>
</div>
