<div class="text-center">
  <p id="notice"><%= notice %></p>

  <p>
    <%= @book.title %>
  </p>

  <p>
    <strong>著者:</strong>
    <%= @book.author %>
  </p>

  <p>
  <% if @book.picture.attached? %>
    <%= image_tag @book.picture.variant(resize: "128x128") %>
  <% end %>
  </P>

  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Back', books_path %>
</div>
