<div class="text-center">
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @book.title %>
  </h1>

  <p>
    <%= @book.author %>
  </p>

  <p>
  <% if @book.picture.attached? %>
    <%= image_tag @book.picture.variant(resize: "500x500") %>
  <% else %>
    <%= image_tag 'noimage.png', class: 'thumbnail' %>
  <% end %>
  </P>

  <% if @comments.present? %>
    <h2>Comments</h2>
    <div id="comments">
      <table class="table table-striped">
        <%= render @book.comments %>
      </table>
    </div>
  <% end %>

  <%= render 'comments/new', post: @post %>

  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Back', books_path %>
</div>
